@font-face {
  font-family: "Montserrat RB";
  src: local("Montserrat_RB-Light"),
  local("Montserrat_RB-Light"),
  url("../fonts/montserrat/Montserrat_RB-Light.woff2") format("woff2"),
  url("../fonts/montserrat/Montserrat_RB-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat RB";
  src: local("Montserrat_RB-Medium"),
  local("Montserrat_RB-Medium"),
  url("../fonts/montserrat/Montserrat_RB-Medium.woff2") format("woff2"),
  url("../fonts/montserrat/Montserrat_RB-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat RB";
  src: local("Montserrat_RB-SemiBold"),
  local("Montserrat_RB-SemiBold"),
  url("../fonts/montserrat/Montserrat_RB-SemiBold.woff2") format("woff2"),
  url("../fonts/montserrat/Montserrat_RB-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat RB";
  src: local("Montserrat_RB-Bold"),
  local("Montserrat_RB-Bold"),
  url("../fonts/montserrat/Montserrat_RB-Bold.woff2") format("woff2"),
  url("../fonts/montserrat/Montserrat_RB-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat RB";
  src: local("Montserrat_RB-Black"),
  local("Montserrat_RB-Black"),
  url("../fonts/montserrat/Montserrat_RB-Bold.woff2") format("woff2"),
  url("../fonts/montserrat/Montserrat_RB-Bold.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

$font-family: 'system-uiMontserrat RB', sans-serif;


